<div class="">
    <!----------- Footer ------------>
    <footer id="footer" class="footer-bs bg-warning">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>Bob-Gallery</h2>
                <p>Thank you for visiting our gallery.</p>
                <p>© 2022, All rights reserved</p>
            </div>
        	<div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
        
            	<div class="col-md-3">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-3 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Feedback</h4>
                <p>Leave us a feedback.</p>
                <p>
                    <div class="input-group">
                <input type="text" class="form-control" placeholder="send feedback..."><i type="button"  class="fas fa-paper-plane m-3"></i>

                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
</div>